{%  extends "base.html" %}
{% load static %}

{%  block title %}
    Esmail' Blog
{% endblock %}

{%  block styles %}
    <link rel="stylesheet" href="{% static "blog/home.css" %}">
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock %}

{%  block content %}
    <section id="welcome">
    <header>
        <img src="https://www.nicepng.com/png/full/266-2666972_software-developer.png" alt="Esmail">
        <h2>Esmail Elturky' Blog </h2>
    </header>
    <p>Hi, I am Esmail and I love to blog about full-stack development and other tech updates</p>
    </section>
    <section id="latest-posts">
    <h2>
        My Latest Posts
    </h2>
    <ul>
        {% include "blog/includes/post.html" %}
    </ul>
    </section>
    <section id="about">
    <h2>What I do</h2>
    <p>
        A full-stack developer is a developer or engineer who can build both the front end and the back end of a website. The front end (the parts of a website a user sees and interacts with) and the back end (the behind-the-scenes data storage and processing) require different skill sets    </p>
    <p>
        Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers
    </p>
    </section>
{% endblock %}
