{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <section id="summary">
    <h2>Post Title</h2>
        <article>
            <h2>{{ post.title }}</h2>
            <article>
                <img src="{{ post.image}}" alt="">
                <adress>By {{ post.author }}</adress>
                <div>Last updated on<time>{{ post.date | date:"d M Y" }}</time></div>
            </article>

        </article>

    </section>
    <main>
    {{ post.content|linebreaks}}
   </main>
{% endblock %}
